

.sideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    border-radius: 0 10pxs 10px 0;
    padding: 10% 5%;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.logo{
    height: 10%;    
}

.navigation{
    padding:20px;
}


.open{
    transform: translateX(0);
}
.close{
    transform: translateX(-100%);
}


@media (min-width: 500px){
    .sideDrawer{
        display: none;
    }
}