.Button {
    background-color: transparent;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    box-shadow: 1px 2px 2px 1px darkgrey;
}

.Button:hover {
   box-shadow: 1px 1px 1px 1px rgb(92, 92, 92);
   animation: button 0.3s linear;
}
@keyframes button{
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}