.Pastry {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 960px) and (orientation: landscape) {
  .Pastry {
    width: 700px;
    height: 500px;
  }
}

@media (max-width: 960px) {
  .Pastry {
    width: 450px;
    height: 400px;
  }
}

@media (max-width: 720px) {
  .Pastry {
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 540px) {
  .Pastry {
    width: 450px;
    height: 400px;
  }
}
